exclude: 'samples'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: debug-statements
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-added-large-files
      exclude_types: [yaml]
    - id: requirements-txt-fixer
    - id: file-contents-sorter
      files: requirements-dev.txt

- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/keewis/blackdoc
  rev: v0.3.9
  hooks:
    - id: blackdoc

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      exclude: >
          (?x)^(
              .*\.ipynb
          )$
      args:
        - --ignore-words-list=celles,hist,therefor


- repo: https://github.com/econchick/interrogate
  rev: 1.7.0
  hooks:
    - id: interrogate
      exclude: ^(docs|setup.py|tests)
      args: [--config=pyproject.toml]

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
    - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.1
  hooks:
    - id: ruff

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.5.0
  hooks:
    - id: pyproject-fmt

- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.9.1
  hooks:
    # mdformat works on the CLI but not as pre-commit yet.
    # Use `nbqa mdformat jupyterbook --nbqa-md` to run it locally.
    # - id: mdformat
    - id: nbqa-check-ast
    - id: nbqa-black
    - id: nbqa-ruff
    # We are skipping:
    # E402 -> Module level import not at top of file
    # T201 -> `print` found
    # B018 -> Found useless expression.
      args: [--fix, "--extend-ignore=E402,T201,B018"]

- repo: https://github.com/bdice/nb-strip-paths
  rev: v0.1.0
  hooks:
    - id: nb-strip-paths

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
