name: Build and Deploy docs

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup Mamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: false

    - name: Build environment
      shell: bash -l {0}
      run: >
        micromamba create --name TEST python=3 --file requirements.txt --file requirements-dev.txt --channel conda-forge
        && micromamba activate TEST
        && python -m pip install -e . --no-deps --force-reinstall

    - name: Build documentation
      shell: bash -l {0}
      run: |
        set -e
        micromamba activate TEST
        jupyter nbconvert --to notebook --execute notebooks/usage.ipynb --output=usage-output.ipynb
        mv notebooks/*output.ipynb docs/
        pushd docs
        make clean html linkcheck
        popd

    - name: Deploy
      if: github.event_name == 'release' || github.event_name == 'push'
      uses: peaceiris/actions-gh-pages@v3.9.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
