name: Tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11", "3.12" ]
        os: [windows-latest, ubuntu-latest, macos-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v5

    - name: Setup Micromamba for Python ${{ matrix.python-version }}
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=${{ matrix.python-version }} pip
          --file requirements.txt
          --file requirements-dev.txt
          --channel conda-forge

    - name: Install windrose
      shell: bash -l {0}
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: Tests
      shell: bash -l {0}
      run: |
        pytest -s -rxs -vv -Werror tests/ --mpl --mpl-generate-summary=html \
        --mpl-results-path="windrose_test_output-${{ matrix.os }}-${{ matrix.python-version }}"
    - name: Store mpl-results
      uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: "windrose_test_output-${{ matrix.os }}-${{ matrix.python-version }}"
        path: "windrose_test_output-${{ matrix.os }}-${{ matrix.python-version }}"
        retention-days: 1
